[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot-brew"]
	path = dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
[submodule "dotbot-aptget"]
	path = dotbot-aptget
	url = https://github.com/dein0s/dotbot_plugin_aptget.git
[submodule "zinit"]
	path = zinit
	url = https://github.com/zdharma-continuum/zinit.git
	ignore = dirty
